:root {
    --bg: white;
    --bg-2: rgb(230, 230, 230);
    --bg-3: gray;
    --fg: rgba(0, 0, 0, .9);
    --fg-light: rgba(0, 0, 0, .6);
    --primary: rgb(35, 35, 179);
    --primary-dark: #4f4fcc;
    --primary-fg: rgba(255, 255, 255, 0.81);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: rgb(31, 30, 37);
        --bg-2: rgb(15, 15, 26);
        --bg-3: rgb(5, 5, 26);
        --fg: rgba(255, 255, 255, 0.8);
        --fg-light: rgba(255, 255, 255, 0.5);
        --primary: rgb(35, 35, 179);
        --primary-dark: #17177d;
        --primary-fg: rgba(255, 255, 255, 0.719);
    }
    .semi-btn {
        filter: invert(100);
    }
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--fg);
}

#channel-info {
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

#channel-info>img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
}

#channel-info>div h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1;
}

.channel-info-inline {
    display: flex;
    padding: 12px;
    gap: 10px;
    align-items: center;
}

.channel-info-inline img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.hidden {
    display: none !important;
}

hr {
    height: 0px;
    border: none;
    margin: 0px 12px;
    opacity: .5;
    border-top: 2px solid var(--bg);
}

.btn-area {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.btn {
    border-radius: 4px;
    padding: 10px;
    color: var(--primary-fg);
    background: linear-gradient(94deg, var(--primary), var(--primary-dark));
    border: none;
    transition: .3s all ease;
}

.btn:focus {
    outline: none;
    background: linear-gradient(40deg, var(--primary), var(--primary-dark));
}

.btn.btn-muted {
    background: none;
}

.btn.btn-muted:focus {
    background: rgba(0, 0, 0, .2);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg);
}

small {
    color: var(--fg-light);
}

div#update-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    justify-content: flex-end;
}

#update-area>.progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#update-area>.progress>span {
    opacity: .6;
}

#update-area>.progress>img {
    opacity: .9;
    height: 18px;
}

.semi-btn:focus {
    outline: none;
}

.semi-btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: none;
    opacity: .4;
    width: 40px;
    height: 40px;
    background-size: contain;
}

.menu-btn {
    background-image: url('/hamburger.png');
}

.source-btn {
    background-image: url('/sourcecode.png');
    /* shitty hack but whatever */
    margin-left: 56px !important;
}

@media only screen and (min-width: 1200px) {
    .menu-hidden#layout {
        grid-template-columns: 0px 1fr;
    }
    #layout {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 300px 1fr;
    }
    #layout>#sidebar, #layout>main {
        height: 100vh;
        overflow: auto;
    }
    .semi-btn {
        margin: 10px;
        position: fixed;
    }
}

@media only screen and (max-width: 1199px) {
    #sidebar {
        transition: .3s ease all;
        padding-top: 48px;
        position: fixed;
        width: 100%;
        overflow: hidden;
    }
    .menu-hidden>#sidebar {
        opacity: 0;
        height: 0px;
        margin-top: -100px;
    }
    .semi-btn {
        position: fixed;
        top: 10px;
    }
    .menu-btn {
        left: 10px;
    }
}

#sidebar {
    background-color: var(--bg-2);
}

#layout>main {
    width: 100%;
}

.channel-button {
    border: none;
    margin: none;
    padding: 16px;
    font-size: 14pt;
    background-color: unset;
    display: block;
    width: 100%;
    text-align: left;
}

.channel-button:hover, .channel-button:focus, .channel-button-selected {
    outline: none;
    background-color: rgba(0, 0, 0, .2);
}

#articles {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(1fr, 800px);
}

#articles h2 {
    display: block;
    height: unset;
    margin: 20px 0px 4px 0px;
}

#articles p {
    max-width: 80ch;
    line-height: 1.4;
}

#articles article {
    display: inline-block;
    max-width: 600px;
}

article h2 {
    font-size: 1rem;
    height: 45px;
}

#videos {
    display: grid;
    align-items: center;
    padding: 24px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-columns: 200px;
}

#videos article {
    vertical-align: top;
}

#videos article a img {
    width: 100%;
}

#microblog {
    padding: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: fit-content(600px);
    justify-content: center;
    gap: 10px;
}

#microblog p, #microblog small {
    display: inline-block;
    margin: 10px;
}

#microblog article {
    background: linear-gradient(-110deg, var(--bg-2), var(--bg));
    border-radius: 4px;
    box-shadow: 2px 6px 13px 0px var(--bg-2);
    overflow: hidden;
}

#microblog img, #microblog video {
    max-width: 100%;
    display: block;
}
